<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <%= stylesheet_link_tag 'index', 'data-turbo-track': 'reload' %>
  </head>
  <body>
    <div class="navbar">
      <div class="nav-left">
        <h2>Pier Stoddard</h2>
      </div>
      <div class="nav-middle">
        <p>Bio</p>
        <p>Projects</p>
        <p>Skill</p>
        <p>Education</p>
        <p>Experience</p>
      </div>
      <div class="nav-right">
        <p>Contact</p>
      </div>
    </div>
    <div class="section1">
      <div class="text white-greeting">
        <p>hello...welcome</p>
      </div>
    </div>
    <div class="section2">
      <div class="text">Bio</div>
      <div class="seperated">
        <p class="biotext ttop">
          Born and raised in Okinawa, Japan, USAF Nukes 4 years, Comp Sci 4 years; 6 years as a mechanic and 6 years as a software developer. 1 year database analyst, 1 year support analyst, 3 years web dev, 1 year RoR dev, Kuka Cert; still truckin. 
        </p>
        <p class="biotext tbottom">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit at iste repellat, cum vero officiis nihil est doloremque nobis excepturi dolorem sunt amet numquam voluptates veritatis illo mollitia ullam id.
          Perferendis consectetur pariatur iure, facere praesentium non cumque excepturi aut impedit saklflsdfjsdfgposdf........ I have been exposed to Database Programming, User Experience, project management, and Robotics. If I could choose, I'd rather move data than generate data, but at the end of the day, if I can help someone, thats enough for me.</p>
      </div>
    </div>
  </body>
</html>